{% include 'header.twig' %}

<div class="about">
    
    <p>
        Comunidad de KODA posting.
    </p>
    <p>
        Por favor lee esta pagina para hacer uso de ella.
    </p>
    
    <h3 id="who">
        Quien cuida de <em>KODA posting</em>?
    </h3>
    <p>
        <em>KODA posting</em> es mantenido por todos nosotros como comunidad en conjunto
    </p>
    
    <h3 id="what-to-post">
        Que postear?
    </h3>
    <p>
       La regla general es comentar cualquier cosa relacionada a temas sin copyright@ de contenido libre siempre que no transfiera la privacidad de las personas y su integridad.
    </p>
    <p>
        Cualquier tema que infringa esta regla principal, sera eliminado y con el riesgo de quedar registro de reporte ante eventuales actos ilegales los cuales pueden ser reportados
    </p>
        
    <h3 id="how-to-post">
        Como postear?
    </h3>
    <p>
        Usa un titulo simple, que no contenga <strong>negritas ni el uso de clickbaits</strong> 
    </p>
    <p>
        Si linkeas algo, trata de que sea sitios sin ads y efectos comerciales - NO SPAM
    </p>
    <p>
        No adjuntes muchos links en un solo tema
    </p>
    
    <h3 id="how-to-comment">
        Como comentar
    </h3>
    <p>
       Corta: No seas un  idiot@, guarda la sana conversación y mantenla interesante
    </p>
    <p>
       Si insultas #ban
    </p>
    
    <h3 id="terms-of-use">
        Términos de Uso
    </h3>
    <p>
       Usando este sitio, asumes que todo el contenido será liberado por la licencia de  <a href=\"http://creativecommons.org/licenses/by/4.0\">CC  4.0</a>.
    </p>
    <p>
        El sitio fue creado como herramienta de apoyo, pero no puede asumir  cualquier responsabilidad legal de pérdidas al ser de contenido libre por la licencia CC
    </p>
    <p>
        Por usar el sitio, aceptas sus reglas y términos de uso
    </p>
    
    <h3 id="privacy-policy">
       Política de privacidad
    </h3>
    <p>
        <em>Este sitio</em> opcionalmente puede almecenar emails, los cuales son usados para resetear tu contraseña. Los emails no son compartidos con nadie y puedes eliminarlos en cualquier momento.
        <br />
    </p>
    <p>
       Si quieres proteger tu integridad y ser anónimo, puedes usar  <a href=\"https://www.torproject.org\">Tor</a> y un email alternativo.
    </p>
    <p>
    </p>
    
</div>

{% include 'footer.twig' %}
